{% extends "master.html" %}

{% block body %}
<div class="container mt-8">
    <h1 class="mb-4">Banners</h1>

    <div class="grid grid-cols-4 gap-4 mb-8">
        <button class="btn btn-primary" @click="showBanner('This is an info flash.', type='info')">Info Flash</button>
        <button class="btn btn-primary" @click="showBanner('This is a warning flash.', type='warning')">Warning Flash</button>
        <button class="btn btn-primary" @click="showBanner('This is an error flash.', type='error')">Error Flash</button>
        <button class="btn btn-primary" @click="showBanner('This is an success flash.', type='success')">Success Flash</button>
    </div>
</div>
{% endblock %}