{% extends "master.html" %}

{% block body %}
{% from "components/modal.html" import modal_shell %}
<div class="container mt-8">
    <h1 class="mb-4">Modal</h1>
    {% set trigger1 %}
    <button class="btn btn-primary">Open Simple Modal</button>
    {% endset %}

    {% set content1 %}
        <p>This is the main content area of the modal. You can put any HTML structure you need in here.</p>
        <p>It uses the default 'dark' overlay and 'bordered' panel style.</p>
    {% endset %}

    {{ modal_shell(
        id='info-modal', 
        trigger_html=trigger1, 
        title='Information', 
        content_html=content1
    ) 
    }}
</div>
{% endblock %}